* {
  margin: 0;
  padding: 0;  
}

body {
  background-image: url('./img/bg.jpg');
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  cursor: url('./img/rsz_1pointer.png'), auto;
}

body h1 {
  color: white;
  font-size: 50px;
  text-shadow: black 2px 2px 8px;
}

#divForm{
  margin: 100px;
}
form {
  display: flex;
  margin-top: 50px;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
form input {
  width: 100%;
  height: 40px;
  text-align: center;
  margin-bottom: 20px;border-radius: 20px;
}

#searchButton {
  width: 180px;
  height: 50px;
  border-radius: 20px;
  background-color: yellow;
  font-size: 15px;
  font-weight: 800;
  padding: 5px;
}

#searchButton:hover {
  background-color: red;
  color: aliceblue;
  cursor: unset;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.card-rotate {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  color: black;
}

.flip-card-back {
  background-color: yellow;
  color: white;
  width: 250px;
  height: 300px;
  transform: rotateY(180deg);
}